<?xml version='1.0' encoding='UTF-8'?>
<server>
    <web-container>
        <http-listener port="8080" io-mode="AIO" accept-count="100" app-read-buf-size="8192" security-enabled="false" gmssl-enabled="false" name="http-listener-1" tcp-no-delay="true" app-write-buf-size="8192" enabled="true" thread-pool="http-thread-pool" connection-timeout="60000" address="0.0.0.0" max-connections="10000">
            <http-protocol xpowered-by="false" allow-trace="false" compression-min-size="2048" no-compression-user-agents="" max-post-size="2097152" dns-lookup-enabled="false" disable-upload-timeout="true" connection-upload-timeout="300000" max-parameter-count="10000" async-timeout="10000" compression="off" compressible-mime-type="text/html,text/xml,text/plain,text/css,text/javascript,application/javascript" uri-encoding="UTF-8"/>
            <keep-alive keep-alive-timeout="60" max-keep-alive-requests="100"/>
            <ssl key-alias="bes" client-auth="false" truststore-file="${com.bes.instanceRoot}/conf/security/cacerts.jks" tls-enabled="true" truststore-type="JKS" keystore-pass="{AES}PrzBD+FLE0Wheq7AAaghXw==" tls12-enabled="true" tls13-enabled="true" truststore-pass="{AES}PrzBD+FLE0Wheq7AAaghXw==" keystore-file="${com.bes.instanceRoot}/conf/security/keystore.jks" ssl3-enabled="false" tls11-enabled="true" keystore-type="JKS"/>
            <gmssl key-alias="bes" keystore-pass="{AES}PrzBD+FLE0Wheq7AAaghXw==" keystore-file="${com.bes.instanceRoot}/conf/security/keystore.bks"/>
        </http-listener>
        <http-service global-access-log-enabled="false">
            <access-log buffered="true" rotation-enabled="true" format="%h %l %u %t &quot;%r&quot; %s %b %D" file-date-format=".yyyy-MM" encoding="UTF-8"/>
        </http-service>
        <virtual-server auto-deploy="false" stuck-thread-max-time="0" state="on" name="server" stuck-thread-timer-interval="10">
            <property name="accessLogEnabled" value="inherit"/>
            <property name="accessLogDirectory" value="${com.bes.instanceRoot}/logs/access"/>
            <property name="accessLogPrefix" value="server_access_log"/>
            <property name="accessLogSuffix" value=".log"/>
        </virtual-server>
     </web-container>
     <thread-pools>
         <thread-pool min-spare-threads="4" max-threads="150" name="http-thread-pool" max-queue-size="4096" max-idle-time="60000"/>
     </thread-pools>
    

     <resources>
        <!--Uncomment it to add JDBC or other resource-->
        <!--
        <jdbc-resource min-idle="0" validation-query-timeout="0" enable-leakage-recovery="false"
             fetch-size="0" enabled="true" statement-cache-size="10" password="{AES}LbXTEvFBCFWheq7AAaghXw=="
             test-on-borrow="true" max-wait-time-in-millis="60000" max-queries="1000" max-connection-age="0"
             idle-timeout="300" rollback-on-return="true" initial-pool-size="8" sql-trace="false"
             validate-atmost-once-period-in-seconds="120" test-while-idle="false" enable-auto-commit-on-return="true"
             log-failed="false" jta-managed="false" url="jdbc:mysql://localhost:3306/testdb" log-slow="false"
             max-pool-size="32" connection-leak-timeout-in-seconds="0" name="MyDataSource" statement-timeout-in-seconds="-1"
             resource-type="java.sql.Driver" access-to-underlying-connection-allowed="false" driver-class-name="com.mysql.jdbc.Driver"
             num-tests-per-eviction-run="32" pool-statements="false" username="root">
            <property name="serverName" value="#serverName#"/>
            <property name="portNumber" value="#portNumber#"/>
            <property name="databaseName" value="#databaseName#"/>
        </jdbc-resource>
        -->
    </resources>
</server>